Package: ruby-enterprise
Version: <%= VENDOR_RUBY_VERSION %>-<%= REE_VERSION %>.12
Section: interpreters
Priority: optional
Architecture: <%= arch %>
Essential: no
Depends: libc6 (>= 2.6.1-1)
Maintainer: Hongli Lai <hongli@phusion.nl>
Changed-By: Daniele Sluijters <github@daenney.net>
Installed-Size: <%= installed_size %>
Description: Ruby Enterprise Edition.
